* {
    margin: 10px;
    padding: 0;
  }
a:link{
    color: indigo;
}
a:visited{
    color: gold;
}
a:hover{
    color: salmon;
}
a:active{
    color: red;
}
a:focus{
    color: orange;
}
input[type="number"] { 
    background-color: rgba(158, 41, 41, 0.25);
}

input[type="number"]:valid {
    background-color: rgba(0, 128, 0, 0.25);
}

input[type="number"]:invalid {
    background-color: rgba(158, 41, 41, 0.25);
 } 

li:first-child {
    color: orange;
  }
  
li:first-child span:first-child {
    color: orange;
  }
  
li:last-child {
    color: orange;
  }
  
li:last-child span:last-child {
    color: orange;
  }
  
ul li {
    color: black;
    background-color: yellow;
  }
  
li.first-item {
    color: orange;
    background-color: yellow;
  }
  
ul li:last-child {
    color: black;
    background-color: yellow;
  }
ol li:nth-child(2){
    color: orange;
 }
 ol li:nth-child(2n){
    color: orange ;
 }
 ol li:nth-child(even){
    color: orange;
 }
 ol li:nth-child(2n+6){
    color: orange;
 }
   .ua::before { 
    content: "Слава ";
  }
  .hero::after {
    content: " Слава!";
  }
  .cont::before {
    content: "\00A7";
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .bg-dark {
    background-color: black;
  }
  
  .text-white {
    color: white;
  }
  
  ul.categories li a {
    color: indigo;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  ul.categories li a:hover {
    background-color: lightgray;
  }
  
