
body {
    --padding: 5vw;
    --max-width: 180ch;
  }
  
  .flexbox {
    --min: 30ch;
  
    display: flex;
    flex-wrap: wrap;
  
    gap: 1rem;
  }

  .card{
    flex: 1;
    flex-basis: var(--min);
    max-width: var(--min);
  }