h1, h2, h3 {
    color: gray;
  }
  
  #main {
    color: #e60202;
  }
  
  .h2 {
    color: red;
  }
  
  .heading {
    color: green;
  }
section p {
    color: red;
}
#heading{
  color: indigo;
}
.text-h {
     color: indigo; /* Вважаю, що так. */
}
p.first{
  color: green;
}
.first a
{
  color: green;
}
.first a:hover{
  text-decoration: underline;
}
p + div  p {
  color: salmon;
}
.translucent-box {
  background: hsla(0, 100%, 50%, 0.5);
}
html{
  font-size: 100%;
}
body{
  font-size: 140%;
}
h1{
  font-size: 240%;
}