.body{
    padding: 10px;
    margin: 0;
}
.negative { 
    background: linear-gradient(to left ,
    #c2e2ef -50%,
    #83a8d9 -10%,
    #0000ff 0%,
    #0000ff 100%,
    #191970 150%);
}
.percents {
    background: linear-gradient(to bottom right,
    #bbf6bb 2em,
    #00ff00 4em,
    #3a943a 8em,
    #043e04 16em,
    #228b22 32em,
    #228b22 64em,
    #008000 128em
    );
}
.radial {
    background: radial-gradient(ellipse at center top,
    orange, transparent),
    radial-gradient(ellipse at center bottom,
    red, transparent);
    background-size: 100%;
    background-repeat: no-repeat;

 } 
 .svg{
    position: relative;
    display: flex;
    gap: 10px;
    }
.svg-fig{
    flex: 1;
    }

