
.grid {
    --min: 30ch;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min 100%),1fr));

    gap: 1rem;
  }
  
  body {
    --padding: 5vw;
    --max-width: 180ch;
  }
 .card{
    min-width: 100%;
    max-width: var(--min, 1fr);
    padding: 1em;
 } 
 .card h3{
    margin-bottom: 0.5rem;
 }
