*, *::before, *::after {
    box-sizing: border-box;
}

table { 
    width: 50rem; 
    border-collapse: collapse; 
    margin:3rem auto;
}
tr:nth-child(odd){
    background-color: #ccc;
}

th { 
    background-color: indigo;
    color: white;
    font-weight: bold;
} 

td, th { 
  padding: 0.625rem;  
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1.125rem;
  }

@media (max-width: 50rem) {
    table, thead, tbody, th, td, tr {
         display: block;
    }
       
    thead tr { 
        display: none;
    }
      
    tr {
        border: 1px solid darkgray;
    }
      
    td { 
        border: none;
        border-bottom: 1px solid lightgrey;

    } 
}